<h1><center> Data Science</center></h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL (Structured Query Language)

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
4. Pandas


| Data Science Tools |
|-------|
| Jupyter |
| RStudio |
| Apache Flink |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

In [5]:
#Multiplication and Addition
(5*6)+5

35

This will convert 200 minutes to hours by diving by 60

In [12]:

200/60

3.3333333333333335

__Objectives__
- Python
- R
- SQL (Structured Query Language)

<h2> Aouther </h2><br>
Shibil